

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea, .note-title {
  color: white;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only, .note-textarea:read-only {
  color: white;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

.nav-color {
  background-color: #1b204d;
  justify-content: left;
}

body {
  background-color: #272e74;
}

.container-color {
  background-color: #0e1027;
}

.color3 {
  background-color: #272e74;
  border-style: none;
  border-bottom-style: dotted;

}

.color5 {
  background-color: #818181;
}

li:nth-child(even){ background-color: #0e1027; }
li:nth-child(odd) { background: #0e1027; }
li:hover{ background-color: #818181; }
